<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ServerIP" value="ec2-user@ec2-3-74-162-209.eu-central-1.compute.amazonaws.com" />
    <add key="ServerPort" value="443" />
    <add key="Email" value="zdark426@gmail.com" />
    <add key="BtcWalletAddress" value="bc1qxy2kgdygjrsqtzqssd2n0yrf2493p83kkfjhx0wlh" />
    <add key="BtcAmount" value="35" />
  </appSettings>
</configuration>